:root {
  --cor__bg: #ededec;
  --cor__detalhe-rodape: #a24424;
  --cor__linguagem: #dbdbdb;
  --cor__rede_sociais: #191411;
}
span {
  font-weight: bold;

  color: var(--cor__detalhe-rodape);
}
.botao {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: var(--cor__detalhe-rodape);
  color: var(--cor__bg);
}
