.apresentacao {
  max-width: 100%;
  margin: 32px 10px 0 10px;
}
.apresentacao__titulo__img {
  max-width: 100%;
}
.apresentacao__titulo__img h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.apresentacao__titulo__img img {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.apresentacao__img__desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .apresentacao__img__mobile {
    display: none;
  }
  .apresentacao__img__desktop {
    display: block;
  }
}

/*Linguagem Projeto*/
.projeto__linguagens {
  width: 100%;
  margin: 0 auto;
}
.projeto__linguagens ul {
  display: grid;
  grid-template-columns: 120px 120px 120px;
}
.projeto__linguagens ul li {
  width: 110px;
  height: 40px;
  margin: 10px;
  position: relative;
  background-color: var(--cor__detalhe-rodape);
  border-radius: 10px;
}
.projeto__linguagens ul li p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  text-transform: uppercase;
  color: var(--cor__bg);
  font-weight: 700;
  font-size: 1rem;
}

/*Paragrafo*/
.proposito p {
  margin: 2rem 0.625rem 0 0.625rem;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}
