/*Topo*/
.topo {
  margin-bottom: 16px;
}
.nome {
  margin: 32px 0 64px 0;
  padding: 10px;
}
.nome h1 {
  font-size: 1rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.rede__sociais__divisor {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 10px;
}
.divisor {
  width: 100%;
}
.sociais {
  display: flex;
}
.sociais li + li {
  margin-left: 10px;
}
.sociais--icone {
  font-size: 1.5rem;
  text-align: center;
  color: var(--cor__rede_sociais);
}
.sociais--icone:hover {
  color: var(--cor__detalhe-rodape);
}

@media screen and (min-width: 768px) {
  .topo {
    margin: 0 20px 0 20px;
  }
  .rede__sociais__divisor {
    margin-bottom: 32px;
  }
  main {
    margin: 0 20px 0 20px;
  }
  .nome h1 {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
}
/*Descrição perfil e foto*/

.descricao__foto__perfil {
  max-width: 100%;
  margin: 0 10px 0 10px;
}
.foto__perfil {
  display: block;
  width: 9.5625rem;
  height: 11.458125rem;
  margin: 0 auto 16px auto;
}
.foto__tablet {
  display: none;
}
.foto__desktop {
  display: none;
}
@media screen and (min-width: 425px) {
  .foto__perfil {
    display: block;
    width: 13.8125rem;
    height: 15.19875rem;
    margin: 0 auto 16px auto;
  }
  .foto__tablet {
    display: none;
  }
  .foto__desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .descricao__foto__perfil {
    display: flex;
    margin: 0 auto;
  }
  .foto__perfil {
    display: block;
    width: 19.37375rem;
    height: 21.3125rem;
    margin: 0 auto 16px auto;
  }
  .foto__mobile {
    display: none;
  }
  .foto__desktop {
    display: none;
  }
  .descricao {
    margin-left: 10px;
  }
  .descricao p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: 'Open Sans', sans-serif;
  }

  @media screen and (min-width: 1024px) {
    .foto__perfil {
      display: block;
      width: 19.37375rem;
      height: 21.3125rem;
      margin: 0 auto 16px auto;
    }
    .foto__mobile {
      display: none;
    }
    .foto__tablet {
      display: none;
    }
  }
}

.descricao h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 8px;
}
.descricao h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--cor__detalhe-rodape);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 16px;
}
.descricao p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}

/*Experiências*/
.experiencia {
  font-family: 'Open Sans', sans-serif;
  margin: 16px 10px 0 10px;
}
.experiencia h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}
.experiencia > p {
  margin-bottom: 6px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.linguagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.linguagens ul li {
  width: 110px;
  height: 40px;
  margin: 10px;
  position: relative;
  background-color: var(--cor__detalhe-rodape);
  border-radius: 10px;
}
.linguagens ul li p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  text-transform: uppercase;
  color: var(--cor__bg);
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .linguagens ul {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    gap: 100px;
    justify-content: center;
  }
}
/*Um pouco do meu trablho*/
.trabalho {
  margin: 16px 10px 16px 10px;
}
.trabalho h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}
.trabalho p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}
/*Meus projetos*/
.meus__projetos {
  margin: 0 10px 0 10px;
}
.meus__projetos h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}
.foto__projeto__academia {
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .foto__projeto__academia {
    display: block;

    margin-bottom: 10px;
  }
}
@media screen and (min-width: 805px) {
  .foto__projeto__academia {
    display: block;

    margin-bottom: 10px;
  }
}
@media screen and (min-width: 767px) {
  .foto__projeto__academia {
    display: block;

    margin-bottom: 10px;
  }
}

.projeto__site-noticias {
  display: block;
  max-width: 100%;
  margin: 16px auto 8px auto;
}
.desktop__foto__noticia {
  display: none;
}
.mobile__foto__noticia {
  display: none;
}
@media screen and (min-width: 1024px) {
  .projeto__site-noticias {
    display: block;

    margin-bottom: 10px;
  }
  .desktop__foto__noticia {
    display: block;
  }
  .mobile__foto__noticia {
    display: none;
  }
  .tablet__foto__noticia {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .projeto__site-noticias {
    display: block;
    margin-bottom: 10px;
  }
  .mobile__foto__noticia {
    display: none;
  }
  .desktop__foto__noticia {
    display: none;
  }
}

/*rodapé*/
footer {
  max-width: 100%;
  height: 80px;
  position: relative;
  margin-top: 64px;
  background: var(--cor__detalhe-rodape);
}
.redes__rodape {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}

.sociais--icone_rodape {
  font-size: 1.5rem;
  text-align: center;

  color: var(--cor__rede_sociais);
}
.sociais--icone {
  margin-right: 10px;
}
.sociais--icone_rodape:hover {
  color: var(--cor__bg);
}

/*Projetos*/

.projeto__academia {
  width: 300px;
  margin: 0 auto 2rem auto;
}
.foto__projeto__academia {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .projeto {
    display: flex;
    justify-content: space-between;
  }
}
/**/
