* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #dbdbdb;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
hr {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  display: inline;
  unicode-bidi: isolate;
}
strong {
  color: #a24424;
}

/*personal description*/
.personal-description {
  width: 499px;
  height: 350px;
}
.name-title {
  margin-bottom: 32px;
}
.name-developer {
  margin: 0 0 32px 0;
}
.menu {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  margin: 128px 0 64px 0;
  font-size: 1.8em;
}
.first-letter {
  color: #a24424;
}
.body-name {
  color: #191411;
}
.links-redes li + li {
  margin-left: 16px;
}
.links-redes li a {
  color: #191411;
  font-size: 30px;
}
.links-redes li a:hover {
  color: #a24424;
}
.links-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
/*
.links-redes {
  padding: 0;
}
*/
.muda {
  display: inline-block;
}
.links-line > hr {
  max-width: 20rem;
  width: 100%;
  height: 0.05rem;
  margin-right: 0;
  border: none;
  background: #191411;
}
.links-redes {
  display: flex;
  flex-wrap: wrap;
}
/*personal*/
.content {
  max-width: 1400px;
  padding-top: 100px;
  margin: 0 auto;
}
.personal {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}
.personal > div {
  flex: 1 1 300px;
}
.pesrsonal-description {
  max-width: 960px;
}
.name-title {
  font-size: 2.5em;
  line-height: 1;
}
.name-developer {
  font-size: 2.5em;
  line-height: 1px;
}
.description-self {
  font-size: 1.5em;
  line-height: 35px;
}
/*experiências*/
.experience {
  margin-top: 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-experience strong {
  color: #a24424;
}
.description-experience > p {
  margin-top: 36px;
  width: 502px;
  height: 135px;
  font-size: 1.5em;
  line-height: 35px;
}
.language-description {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.language-description > li {
  max-width: 120px;
  flex: 1 1 120px;
}
.item-language p {
  text-align: center;
  margin: 16px;
}
.item-language {
  width: 153px;
  height: 54px;
  border-radius: 20px;
  margin: 4px;
  background: #a24424;
  color: #dbdbdb;
}
/*meu trabalho*/
.description-myWork {
  margin-top: 256px;
}
.description-myWork p {
  width: 502px;
  height: 238px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.5em;
  line-height: 35px;
}

/*projetos*/
.projeto-academia {
  width: 480px;
  height: 250px;
  margin-top: 32px;
}
.projeto-academia h1 {
  margin-bottom: 16px;
}

.botao-projetos {
  width: 175px;
  display: block;
  margin-top: 36px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  background: #a24424;
  text-align: center;
  color: #dbdbdb;
  letter-spacing: 0.1rem;
}

/*Projeto academia*/
.containe-bg {
  max-width: 1400px;
  margin: 0 auto;
}
.containne-academia {
  max-width: 1400px;
  margin-top: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.containne-academia > div {
  flex: 1 1 300px;
}
.descricao-projeto h1 {
  margin-bottom: 32px;
}
.language-academia {
  margin-top: 32px;
}
.languagem-academia-bg {
  margin-top: 32px;
}
.languagem-academia-bg h1 {
  margin-bottom: 32px;
}
/*footer*/
footer {
  margin-top: 256px;
  padding: 100px;
  background: #a24424;
}
.containe-rodape {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: #191411;
}
.propaganda {
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.links-redes-rodape {
  display: flex;
  flex-wrap: wrap;
}
.links-redes-rodape li a {
  color: #191411;
  font-size: 30px;
}
.links-redes-rodape li + li {
  margin-left: 16px;
}

.links-redes-rodape li a:hover {
  color: #dbdbdb;
}
